---

import React from "../icons/React.astro"
import Tailwind from "../icons/Tailwind.astro"
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import Typescript from "../icons/Typescript.astro"
import Javascript from "../icons/Javascript.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Node from "../icons/Node.astro"
import Mysql from "../icons/Mysql.astro"
import Global from "../icons/Global.astro"
import IA from "../icons/IA.astro"

const tags = {
    REACT: {
        name: 'React.js',
        class: 'bg-[#0c0c0c] text-white shadow-[0px_0px_5px_-1px] shadow-white',
        icon: React
    },
    TAILWIND: {
        name: 'TailwindCSS',
        class: 'bg-[#13283F] text-[#73bcf6] shadow-[0px_0px_5px_-1px] shadow-[#73bcf6]',
        icon: Tailwind
    },
    HTML5: {
        name: 'HTML 5',
        class: 'bg-[#f3f3f3]/90 text-black shadow-[0px_0px_5px_1px] shadow-[#F64A1D]',
        icon: HTML
    },
    CSS3:{
        name: 'CSS 3',
        class: 'bg-[#13283F] text-[#73bcf6] shadow-[0px_0px_5px_-1px] shadow-[#73bcf6]',
        icon: CSS
    },
    JS: {
        name: 'JavaScript',
        class: 'bg-[#0c0c0c] text-[#ffec00] shadow-[0px_0px_5px_-1px] shadow-[#ffec00]',
        icon: Javascript
    },
    ASTRO: {
        name: 'Astro.js',
        class: 'bg-[#23262f] text-[#fcfcfc] shadow-[0px_0px_5px_-1px] shadow-white',
        icon: AstroIcon
    },
    I18N: {
        name: 'i18n (internalizacion)',
        class: 'bg-[#13283F] text-[#73bcf6] shadow-[0px_0px_5px_-1px] shadow-white',
        icon: Global
    },
    NODE:{
        name: 'NodeJS',
        class: 'bg-[#090C15] text-[#00b341] shadow-[0px_0px_5px_-1px] shadow-[#00b341]',
        icon: Node
    },
    MYSQL: {
        name: 'MySQL',
        class: 'bg-[#3E6E93] text-[#Fcfcfc]/90 shadow-[0px_0px_6px_-1px] shadow-[#F29221]',
        icon: Mysql
    },
    TYPESCRIPT: {
        name: 'Typescript',
        class: 'bg-[#00abfb]/80 text-[#f3f3f3] shadow-[0px_0px_5px_-1px] shadow-white',
        icon: Typescript
    },
    IA: {
        name: 'API IA',
        class: 'bg-[#0c0c0c]/80 text-[#6f32be] shadow-[0px_0px_5px_-1px] shadow-white',
        icon: IA
    }
}

const proyects = [
    {
        title: 'Spotify Clon',
        description: 'Un clon de spotify hecho con react, proximamente con react-query y react-router, en progreso: una copia con Astro!',
        link: '',
        github: '',
        image: '/spotify.webp',
        tags: [tags.REACT,tags.TAILWIND,tags.HTML5,tags.CSS3,tags.JS,tags.TYPESCRIPT]
    },
    {
        title: 'Cohere tools',
        description: 'Un corrector de texto y un traductor utilizando la IA que ofrece COHERE, mas functiones proximamente',
        link: '',
        github: '',
        image: '/cohere.webp',
        tags: [tags.TAILWIND,tags.HTML5,tags.CSS3,tags.JS, tags.IA, tags.ASTRO]
    },
    {
        title: 'PetAdmin Dashboard',
        description: 'Un dashboard para una veterinaria, con roles de admin, editor y viewer, esta desarrollado con react, tailwind, axios, nodejs y Typescript, progreso: 50%',
        link: '',
        github: '',
        image: '/cohere.webp',
        tags: [tags.TAILWIND,tags.HTML5,tags.CSS3,tags.TYPESCRIPT, tags.NODE,tags.REACT]
    },{
        title: 'Chat Online V1',
        description: 'Un chat online sin animo de lucro, con funciones como salas privadas y autenticacion con JWT, usa NodeJS como backend y React como Frontend, progreso: 20%',
        link: '',
        github: '',
        image: '/spotify.webp',
        tags: [tags.REACT, tags.NODE, tags.I18N, tags.HTML5, tags.CSS3, tags.TYPESCRIPT, tags.TAILWIND, tags.MYSQL, tags.JS]
    }
]

---

{
    proyects.map(({ title, description, tags, image }) => (
        <article class="mb-24">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
                {title}    
            </h3>
            <p class="text-lg mb-2 text-pretty">
                {description}    
            </p>
            <ul class="flex gap-2 flex-row flex-wrap my-4">
                {tags.map(tag => (
                    <li class='transition duration-300 hover:scale-110 cursor-default'>
                        <span class={`${tag.class} flex gap-x-2 rounded-full text-sm items-center px-3 py-1`}>
                            <tag.icon class="size-7" />  
                            {tag.name}
                        </span> 
                    </li>
                ))}
            </ul>
            <img class="rounded shadow-2xl shadow-white/10" src={image} alt={`Captura del proyecto ${title}`}>
        </article>
    ))
}